body {
    background-image: url(/images/background.jpg);
    background-color: #000;
    background-size: cover;
    min-height: 100vh;
}

.ojp-transparent, .form-control, .form-control:disabled, .form-control[readonly] {
    background: rgba(0, 0, 0, 0.6);
}

.ojp-border, .dropdown-menu, .btn {
    border-color: rgb(2, 157, 187);
    border-style: solid;
    border-width: 1px;
}

.navbar {
    border-bottom-color: rgb(2, 157, 187);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    background-color: rgba(2, 17, 20, 0.85);
}

.table {
    margin-bottom: 0;
}

.ojp th, .table tr {
    border-color: #a1ecfb;
}

.table tbody tr:last-child td, .table tbody tr:last-child th {
    border: 0;
}

.ojp-text-color, .dropdown-item, .btn, .table, h4, .dropdown-item:focus, .dropdown-item:hover, .form-control {
    color: #a1ecfb;
}
.ojp-text-glow, .btn:hover, h4, .dropdown-item:focus, .dropdown-item:hover {
    color: #a1ecfb;
    text-shadow: rgb(161 236 251 / 65%) 0 0 4px;
}

.dropdown-item, .dropdown-menu, .dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(2, 17, 20, 0.95);
}

.dropdown-item {
    cursor: pointer;
}

.form-control {
    border: 0;
}

@media only screen and (max-width: 767px) {
    .container-fluid {
        padding: 0;
    }
  }

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-color: rgb(2, 157, 187);
    border-style: solid;
    border-width: 1px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(2, 157, 187);
  }