body {
    background-image: url(/images/background.jpg);
    background-color: #000;
    background-size: cover;
    min-height: 100vh;
}

.ojp-transparent {
    background: rgba(0, 0, 0, 0.6);
}

.ojp-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.ojp-border {
    border-color: rgb(2, 157, 187);
    border-style: solid;
    border-width: 1px;
}

.ojp-navbar {
    border-bottom-color: rgb(2, 157, 187);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    background-color: rgba(2, 17, 20, 0.85);
}

.ojp-table th, .ojp-table tr {
    border-color: #a1ecfb;
}

.ojp-table tbody tr:last-child td, .ojp-table tbody tr:last-child th {
    border: 0;
}

.ojp-text-color {
    color: #a1ecfb;
}
.ojp-text-glow {
    color: #a1ecfb;
    text-shadow: rgb(161 236 251 / 65%) 0 0 4px;
}